.image-grid {
  display: grid;
  margin: 10px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.image-item:nth-child(5n) {
  grid-column-end: span 2;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
